<div class="header">
  <h1 class="caption">Orders</h1>
</div>
<div class="page__wrapper">
  <div class="page__wrapper-page">
    <div *ngIf="!items; else itemsExist">
      No orders loaded.
    </div>
    <ng-template #itemsExist>
      <table mat-table [dataSource]="items" class="table mat-elevation-z3">
        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef> Customer </th>
          <td mat-cell *matCellDef="let item"> {{item.customer}} </td>
        </ng-container>

        <ng-container matColumnDef="vendor">
          <th mat-header-cell *matHeaderCellDef> Vendor </th>
          <td mat-cell *matCellDef="let item"> {{item.vendor}} </td>
        </ng-container>

        <ng-container matColumnDef="delivered">
          <th mat-header-cell *matHeaderCellDef> Delivered </th>
          <td mat-cell *matCellDef="let item"> {{item.deliveredAt || '- Not available -'}} </td>
        </ng-container>

        <ng-container matColumnDef="price total">
          <th mat-header-cell *matHeaderCellDef> Price total</th>
          <td mat-cell *matCellDef="let item"> {{item.price.total}} </td>
        </ng-container>

        <ng-container matColumnDef="items count">
          <th mat-header-cell *matHeaderCellDef> Items count </th>
          <td mat-cell *matCellDef="let item"> {{item.price.items}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedItemsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedItemsColumns;"></tr>
      </table>
    </ng-template>
    <mat-paginator [pageSizeOptions]="[25, 50, 75]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div class="footer">
</div>